<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-我的-我的钱包</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="head">
        <span class="btn-back f-fl"><i></i>返回</span> 我的钱包
    </div>
  
    <div class="money">
        <div class="money-item jtqb">
            <div class="top">静态钱包（余额）</div>
            <div class="mid"><strong>1342.93</strong></div>
            <div class="bottom">
                <div><img src="../../img/money-lc.png" alt="">理财</div>
                <div><img src="../../img/money-tx.png" alt="">提现</div>
                <div><img src="../../img/money-mx.png" alt="">明细</div>
            </div>
        </div>
        <div class="money-item dtqb">
                <div class="top">动态钱包（余额）</div>
                <div class="mid"><strong>1342.93</strong></div>
                <div class="bottom">
                    <div><img src="../../img/money-lc.png" alt="">理财</div>
                    <div><img src="../../img/money-tx.png" alt="">提现</div>
                    <div><img src="../../img/money-mx.png" alt="">明细</div>
                </div>
            </div>
            <div class="money-item lsqb">
                    <div class="top">临时钱包（余额）</div>
                    <div class="mid"><strong>1342.93</strong></div>
                    <div class="bottom">
                        <div><img src="../../img/money-lc.png" alt="">理财</div>
                        <div><img src="../../img/money-tx.png" alt="">提现</div>
                        <div><img src="../../img/money-mx.png" alt="">明细</div>
                    </div>
                </div>
    </div>
    
    
    <!-- 底部菜单 -->
    <div class="footer">
        <div class="item icon-index">
            <a href="../../index.html">
                <i></i>
                <p>首页</p>
            </a>
        </div>
        <div class="item icon-dd">
            <a href="./views/order/order.html">
                <i></i>
                <p>订单</p>
            </a>
        </div>
        <div class="item icon-gg">
            <a href="./views/notice/notice.html">
                <i></i>
                <p>通知</p>
            </a>
        </div>
        <div class="item icon-wd ac">
            <a href="./views/user/user.html">
                <i></i>
                <p>我的</p>
            </a>
        </div>
    </div>


</body>

</html>