<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-排单币</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="head">
        <span class="btn-back f-fl"><i></i>返回</span> 排单币
    </div>

    <div class="row">
        <div class="row-title f-clear">
            <div class="f-fl">金额</div>
            <div class="f-fl">说明</div>
            <div class="f-fl">时间</div>
        </div>
        <ul class="row-list">
            <li>
                <div>-10.00</div>
                <div>排单消耗</div>
                <div class="date">2018/10/08 00:24:01</div>
            </li>
            <li>
                <div>-10.00</div>
                <div>排单消耗</div>
                <div class="date">2018/10/08 00:24:01</div>
            </li>
            <li>
                <div>-10.00</div>
                <div>排单消耗</div>
                <div class="date">2018/10/08 00:24:01</div>
            </li>
            <li>
                <div>-10.00</div>
                <div>排单消耗</div>
                <div class="date">2018/10/08 00:24:01</div>
            </li>
        </ul>
    </div>


    <!-- 底部菜单 -->
    <div class="footer">
        <div class="item icon-index ">
            <a href="#">
                <i></i>
                <p>首页</p>
            </a>
        </div>
        <div class="item icon-dd ac">
            <a href="#">
                <i></i>
                <p>订单</p>
            </a>
        </div>
        <div class="item icon-gg">
            <a href="#">
                <i></i>
                <p>通知</p>
            </a>
        </div>
        <div class="item icon-wd">
            <a href="#">
                <i></i>
                <p>我的</p>
            </a>
        </div>
    </div>


</body>

</html>