<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-我的-完善资料</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="head">
        <span class="btn-back f-fl"><i></i>返回</span> 完善资料
    </div>

    <div class="avatar">
        <span>头像：</span>
        <a class="f-fr" href="javascript:;"><img src="../../img/user-pic.png" alt=""></a>
    </div>
    <ul class="user-item-list">
        <li class="f-cealr">
            <span class="name f-fl">昵称：</span>
            <input class="f-fr" type="text" value="李青">
        </li>
        <li class="f-cealr">
            <span class="name f-fl">手机号码：</span>
            <input class="f-fr" type="text" value="133213123">
        </li>
    </ul>
    <ul class="user-item-list">
        <li class="f-cealr">
            <span class="name f-fl">微信账号：</span>
            <input class="f-fr" type="text" value="aa2123">
        </li>
        <li class="f-cealr">
            <span class="name f-fl">支付宝账号：</span>
            <input class="f-fr" type="text" value="133213123">
        </li>
        <li class="f-cealr">
            <span class="name f-fl">银行卡名称：</span>
            <input class="f-fr" type="text" value="工商银行">
        </li>
        <li class="f-cealr">
            <span class="name f-fl">银行卡号：</span>
            <input class="f-fr" type="text" value="133213123">
        </li>
    </ul>

    <!-- 底部菜单 -->
    <div class="footer">
        <div class="item icon-index">
            <a href="../../index.html">
                <i></i>
                <p>首页</p>
            </a>
        </div>
        <div class="item icon-dd">
            <a href="./views/order/order.html">
                <i></i>
                <p>订单</p>
            </a>
        </div>
        <div class="item icon-gg">
            <a href="./views/notice/notice.html">
                <i></i>
                <p>通知</p>
            </a>
        </div>
        <div class="item icon-wd ac">
            <a href="./views/user/user.html">
                <i></i>
                <p>我的</p>
            </a>
        </div>
    </div>


</body>

</html>