<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-我的</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="head">
        <span class="btn-back f-fl"><i></i>返回</span> 我的
        
    </div>

    <div class="user-head">
        <a class="user-set f-fr" href="./setting.html"><img src="../../img/user-set.png" alt=""></a>
        <div class="name f-clear">
            <img class="pic f-fl" src="../../img/user-pic.png" alt="">
            <a href="./profileedit.html" class="f-clear f-fl">
                <div class="f-fl">
                    <p>李青</p>
                    <p>12324314</p>
                </div>
                <img class="f-fr" src="../../img/user-top-btn.png" alt="">
            </a>
        </div>

        <div class="f-clear line">
            <span class="f-fl">最迟复投倒计时:</span>
            <span class="f-fl">已截至</span>
        </div>
    </div>

    <ul class="user-list">
        <li>
            <a href="./moeny.html">
                <div class="pic">
                    <img src="../../img/user-wdqb.png" alt="">
                </div>
                
                我的钱包
                <i></i>
            </a>
        </li>
        <li>
            <a href="./pdb.html">
                <div class="pic">
                    <img src="../../img/user-dpb.png" alt="">
                </div>
                
                单排币
                <div class="f-fr">
                    <span class="text-orange" style="padding-right:0.1rem;">72.00</span>
                    <i></i>
                </div>
                
            </a>
        </li>
        <li>
            <a href="jhm.html">
                <div class="pic">
                    <img src="../../img/user-jhm.png" alt="">
                </div>
                
                激活码
                <div class="f-fr">
                    <span class="text-orange" style="padding-right:0.1rem;">4</span>
                    <i></i>
                </div>
            </a>
        </li>
    </ul>
    <ul class="user-list">
        <li>
            <a href="./myteam.html">
                <div class="pic">
                    <img src="../../img/user-wdtd.png" alt="">
                </div>
                
                我的团队
                <i></i>
            </a>
        </li>
        <li>
            <a href="./zrdpb.html">
                <div class="pic">
                    <img src="../../img/user-zrdpb.png" alt="">
                </div>
                
                转让单排币
                <div class="f-fr">
                    
                    <i></i>
                </div>
                
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <div class="pic">
                    <img src="../../img/user-zrjhm.png" alt="">
                </div>
                转让激活码
                <div class="f-fr">
                    
                    <i></i>
                </div>
            </a>
        </li>
        <li>
            <a href="./ly.html">
                <div class="pic">
                    <img src="../../img/user-ly.png" alt="">
                </div>
                
                留言
                <div class="f-fr">
                    
                    <i></i>
                </div>
            </a>
        </li>
    </ul>
    <a class="btn-orange" style="margin:0.4rem auto;" href="../login/login.html">退出登录</a>

    <!-- 底部菜单 -->
    <div class="footer">
        <div class="item icon-index">
            <a href="../../index.html">
                <i></i>
                <p>首页</p>
            </a>
        </div>
        <div class="item icon-dd">
            <a href="./views/order/order.html">
                <i></i>
                <p>订单</p>
            </a>
        </div>
        <div class="item icon-gg">
            <a href="./views/notice/notice.html">
                <i></i>
                <p>通知</p>
            </a>
        </div>
        <div class="item icon-wd ac">
            <a href="./views/user/user.html">
                <i></i>
                <p>我的</p>
            </a>
        </div>
    </div>


</body>

</html>