<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-理财</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="head">
        <span class="btn-back f-fl"><i></i>返回</span> 理财
    </div>

    <div class="row">
        <ul class="list-line">
            <li class="f-clear">
                <div class="text f-fl">投资金额:</div>
                <div class="f-fl">
                    <select name="" id="">
                        <option value="a">1000需1排单币</option>
                        <option value="b">点击选择投资金额22</option>
                    </select>
                </div>
            </li>
            <li class="f-clear">
                <div class="text f-fl">二级密码:</div>
                <div class="f-fl">点击输入二级密码</div>
            </li>
        </ul>
        <ul class="list-line">
            <li>
                <p class="title">支付方式</p>
            </li>
            <li class="payment payment1">
                <label>银行卡支付:<input class="f-fr" type="radio" name="payment " id=""> </label>
            </li>
            <li class="payment payment2">
                <label>微信支付: <input class="f-fr" type="radio" name="payment " id=""></label>
            </li>
            <li class="payment payment3">
                <label>支付宝支付: <input class="f-fr" type="radio" name="payment " id=""></label>
            </li>
        </ul>
        <a class="btn-payment" href="javascript:;">立即购买</a>
    </div>


    <!-- 底部菜单 -->
    <div class="footer">
        <div class="item icon-index ">
            <a href="#">
                <i></i>
                <p>首页</p>
            </a>
        </div>
        <div class="item icon-dd ac">
            <a href="#">
                <i></i>
                <p>订单</p>
            </a>
        </div>
        <div class="item icon-gg">
            <a href="#">
                <i></i>
                <p>通知</p>
            </a>
        </div>
        <div class="item icon-wd">
            <a href="#">
                <i></i>
                <p>我的</p>
            </a>
        </div>
    </div>


</body>

</html>