<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-订单详情</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="head">
        <span class="btn-back f-fl"><i></i>返回</span> 订单详情
    </div>

    <ul class="orderItem">
        <li>
            <span class="name">交易进度:</span><span class="value text-orange">已匹配未打款</span>
        </li>
        <li>
            <span class="name">收款人姓名:</span><span class="value">李先生</span>
        </li>
        <li>
            <span class="name">收款人账号:</span><span class="value text-orange">1000</span>
        </li>
        <li>
            <span class="name">收款人号码:</span><span class="value">10</span>
        </li>
        <li>
            <span class="name">付款金额:</span><span class="value">10</span>
        </li>
        <li>
            <span class="name">剩余打款时间:</span><span class="value">2018-10-12 11:23 (倒计时)</span>
        </li>
    </ul>
    <ul class="orderItem">
        <li class="title">
            <span style="font-size:0.3rem; color:#333;">支付方式</span>
            <div class="f-fr "><a class="text-orange" href="javascript:;">银行卡/支付宝/微信</a></div>
        </li>
        <li>
            <span class="name">银行支付:</span><span class="value text-orange">中国建设银行</span>
        </li>
        <li>
            <span class="name">支付金额:</span><span class="value">1000</span>
        </li>
        <li>
            <span class="name">银行卡账号:</span><span class="value text-orange">111111111</span>
        </li>
    </ul>
    <ul class="orderItem">
        <li class="title">
            <span style="font-size:0.3rem; color:#333;">上传支付截图</span>
        </li>

    </ul>
    <div class="upload">
        <div class="box">

        </div>
        <div class="btn-upload">
            <button>上传图片</button>
            <button class="bg-orange">确认打款</button>
        </div>
    </div>


    <!-- 底部菜单 -->
    <div class="footer">
        <div class="item icon-index ">
            <a href="#">
                <i></i>
                <p>首页</p>
            </a>
        </div>
        <div class="item icon-dd ac">
            <a href="#">
                <i></i>
                <p>订单</p>
            </a>
        </div>
        <div class="item icon-gg">
            <a href="#">
                <i></i>
                <p>通知</p>
            </a>
        </div>
        <div class="item icon-wd">
            <a href="#">
                <i></i>
                <p>我的</p>
            </a>
        </div>
    </div>


</body>

</html>