<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/login.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
   <div class="logo">
        <img src="../../img/logo.png" alt="">
   </div>

   <div class="login-form">
        <div class="from-line user">
            <input type="text" value="" placeholder="请输入账号">
        </div>
        <div class="from-line pwd">
            <input type="text" value="" placeholder="请输入密码">
        </div>
   </div>
   <div class="login-btn">
        <!-- <input class="submit btn" type="button" value="登录"> -->
        <a class="submit btn" href="../../index.html">登录</a>
        <a class="register btn" href="./register.html">注册</a>
   </div>
   <div class="login-other">
        <a class="other1" href="./unseal.html">申请解封</a>
        <a class="other2" href="./findpwd.html">忘记密码</a>
   </div>

   
</body>

</html>