<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/login.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
   <div class="logo">
        <img src="../../img/logo.png" alt="">
   </div>

   <div class="login-form">
        <div class="from-line user">
            <input type="text" value="" placeholder="账号">
        </div>
        <div class="from-line phone">
            <input type="text" value="" placeholder="手机号">
        </div>
        <div class="from-line vCode">
            <input type="text" value="" placeholder="请输入验证码">
            <a href="javascript:;">发送</a>
        </div>
        <div class="from-line pwd">
            <input type="text" value="" placeholder="登录密码">
        </div>
        <div class="from-line twoPwd">
            <input type="text" value="" placeholder="二级密码">
        </div>
        <div class="from-line referee">
            <input type="text" value="" placeholder="输入推荐人">
        </div>
   </div>
   <div class="login-btn">
        <a class="submit btn" href="javascript:;">确认注册</a>
   </div>

</body>

</html>