<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-通知详情</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jqeruy-min-3.3.1.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="head">
        <span class="btn-back f-fl"><i></i>返回</span> 通知详情
    </div>

    <div class="notice-item">
        <img src="../../img/noticeItem_bar.png" alt="">
    </div>
    <ul class="notice ">
        <li>
            <div class="top f-clear">
                <strong class="f-fl">主标题</strong>
                <span class="f-fr">2018/08/02 18:00</span>
            </div>
            <div class="item-text">
                爱情、亲情、友情等情感文章欣赏及人生感悟、经典、哲理、励志、搞笑文章,校园文章、美文故事、散文随笔等免费在线阅读。欢迎作者在本哲理、励志、搞笑文章,校园文章文章,校园文章
            </div>
        </li>

    </ul>


    <!-- 底部菜单 -->
    <div class="footer">
        <div class="item icon-index">
            <a href="index.html">
                <i></i>
                <p>首页</p>
            </a>
        </div>
        <div class="item icon-dd">
            <a href="./views/order/order.html">
                <i></i>
                <p>订单</p>
            </a>
        </div>
        <div class="item icon-gg ac">
            <a href="./views/notice/notice.html">
                <i></i>
                <p>通知</p>
            </a>
        </div>
        <div class="item icon-wd">
            <a href="#">
                <i></i>
                <p>我的</p>
            </a>
        </div>
    </div>


</body>

</html>